//:configuration = Debug
SDKROOT = macosx
SUPPORTED_PLATFORMS = iphoneos iphonesimulator macosx
ALLOW_TARGET_PLATFORM_SPECIALIZATION = YES
SWIFT_VERSION = 5.0
SUPPORTS_MACCATALYST = YES

PRODUCT_NAME = SwiftUIDemo
PRODUCT_MODULE_NAME = SwiftUIDemo
PRODUCT_BUNDLE_IDENTIFIER = com.getyourmap.demo.swiftui
CODE_SIGN_IDENTITY = -
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER =

SWIFT_OPTIMIZATION_LEVEL = -Onone

ENABLE_PREVIEWS = YES
COMBINE_HIDPI_IMAGES = YES
IPHONEOS_DEPLOYMENT_TARGET = 16.0
MACOSX_DEPLOYMENT_TARGET = 12.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

DEVELOPMENT_ASSET_PATHS = "SwiftUIDemo/Preview Content"
CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/SwiftUIDemo/MacOS.entitlements
INFOPLIST_FILE = $(SRCROOT)/SwiftUIDemo/Info.plist
